dist/
var/
node_modules/
*.log
.DS_Store
.run/*
!.run/validation/
.run/validation/*
!.run/validation/README.md
portals/server/dist
portals/account/dist
packaging/update/release.priv
dist/update-feed/
